<div class="d-flex">

  <!-- Sidebar -->
<div class="col-md-2 text-white p-3 d-none d-md-block text-center" style="min-height: 100vh; border-right: 1px solid rgb(61, 4, 114);">   
  

  </div>

  <!-- Main Content -->
   <div class="col-md-10 col-12 p-4">

<div class="justify-content-center row">
    <h3 class="col-md-10">Add new units</h3>
 <button class="btn btn-primary col-md-2 " [routerLink]="['/units']" routerLinkActive="active" >Back</button>
</div>

  <form [formGroup]="unitForm" (ngSubmit)="addUnit()" class="m-2 p-3 rounded-3"  style="border: 1px solid rgb(109, 11, 167);">
  
    <div class="mb-3">
      <label class="form-label">Address</label>
      <input class="form-control" formControlName="title" type="text">
    </div>
  
    <div class="mb-3">
      <label class="form-label">Descryption</label>
      <textarea class="form-control" formControlName="description"></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Location</label>
      <input class="form-control" formControlName="location" type="text">
    </div>

    <div class="mb-3">
      <label class="form-label">Price</label>
      <input class="form-control" formControlName="price" type="number">
    </div>

    <div class="mb-3">
      <label class="form-label">Image URL</label>
      <input class="form-control" formControlName="imageUrl" type="text">
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" formControlName="isAvailable" type="checkbox" id="available">
      <label class="form-check-label" for="available">isAvailable</label>
    </div>
    <div class="text-center m-4">
    <button class="btn btn-primary mb-5 px-5" type="submit">Add</button>
    </div>
  </form>
</div>
</div>