<!-- Sidebar Toggle Button (Mobile only) -->
<button class="btn"
        [ngClass]="isDarkMode ? 'btn-light' : 'btn-dark'"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#sidebarMenu">
  ☰ Menu
</button>

<!-- Sidebar -->
<div class="offcanvas offcanvas-start d-md-flex flex-column flex-shrink-0 p-3 offcanvas-md show"
     [ngClass]="isDarkMode ? 'bg-black text-light' : 'bg-light text-dark'"
     tabindex="-1"
     id="sidebarMenu"
     style="border-right:1px solid blue ;">
  

  <!-- Header (Mobile only) -->
  <div class="offcanvas-header d-md-none"  [ngClass]="isDarkMode ? 'bg-black text-light' : 'bg-light text-dark'">
    <h5 class="offcanvas-title">Dashboard</h5>
    <button type="button"
            class="btn-close"
            [ngClass]="isDarkMode ? 'btn-close-white' : ''"
            data-bs-dismiss="offcanvas"
            aria-label="Close">
    </button>
  </div>

  <!-- Logo -->
   <div class="align-items-center justify-content-center border-dark">
    <a class="navbar-brand d-flex align-items-center mb-3">
    <img src="assets/logooo.PNG" alt="Logo" height="50px" width="200">
  </a>
   </div>
  

  <h2 class="d-none d-md-inline ms-2">Dashboard</h2>

  <!-- Navigation Links -->
  <ul class="nav nav-pills flex-column mb-auto mt-4"  [ngClass]="isDarkMode ? 'bg-black text-light' : 'bg-light text-dark'">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">🏠 Home</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/users" routerLinkActive="active">👥 Users</a>
    </li>
   
    <li>
      <a class="nav-link" routerLink="/listings" routerLinkActive="active">📢 Listings</a>
    </li>
     <li>
      <a class="nav-link" routerLink="/newlistings" routerLinkActive="active">📢New Listings</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/bookings" routerLinkActive="active">📅 Bookings</a>
    </li>
     <li>
      <a class="nav-link" routerLink="/amenities" routerLinkActive="active">🏢 Amenities</a>
    </li>
     <li>
      <a class="nav-link" routerLink="/categories" routerLinkActive="active">🏢 Categories</a>
    </li>

    <!-- Theme Toggle Button -->
    <li class="mt-3">
      <button class="btn w-100 btn-sm"
              [ngClass]="isDarkMode ? 'btn-outline-light text-light border-light' : 'btn-outline-dark text-dark border-dark'"
              (click)="toggleTheme()">
        {{ isDarkMode ? '☀️ Light' : '🌙 Dark' }}
      </button>
    </li>
  </ul>
</div>