a{
    color: black !important;
}
.light-mode {
  background-color: #f3f4f6;
  color: #212529;
}
.dark-mode {
  background-color: #000;
  color: #fff;
}
#sidebarMenu {
  width: 250px;
  height: 100%;
  border-right: 1px solid #6f4e37;
}

/* Offcanvas behavior on medium+ screens */
@media (min-width: 768px) {
  .offcanvas-md {
    transform: none !important;
    visibility: visible !important;
    position: static;
  }
}

/* Main content padding to avoid being hidden behind sidebar */
/* Adjust padding on small screens */
@media (max-width: 767.98px) {
  body {
    padding-left: 0;
  }
}

/* Dark/Light text transitions */
body.bg-black {
  background-color: #121212 !important;
  color: #f0f0f0 !important;
}

body.bg-light {
  background-color: #6e88a1 !important;
  color: #212529 !important;
}


/* Sidebar Hover */
.custom-sidebar .nav-link {
  border-radius: 0;
  padding: 10px 15px;
  transition: all 0.3s ease;
}

.custom-sidebar .nav-link:hover {
  background-color: rgba(111, 78, 55, 0.1); /* بني فاتح */
  border-right: 4px solid #6f4e37;
  color: var(--main-brown) !important;
}

.custom-sidebar .nav-link.active {
  background-color: rgba(111, 78, 55, 0.2); /* لون أوضح عند التحديد */
  border-right: 4px solid #6f4e37 ;
  font-weight: bold;
  color: #6f4e37 !important;
}
.mode-btn{
  border-radius: 12px;
}

