<!-- Sidebar Toggle Button (Mobile only) -->
<button class="btn btn-dark d-md-none mb-2"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#sidebarMenu">
  <i class="bi bi-list"></i> Menu
</button>

<!-- Sidebar -->
<div class="offcanvas offcanvas-start d-md-flex flex-column flex-shrink-0 p-3 pt-5 offcanvas-md show shadow-sm"
    [ngClass]="isDarkMode ? 'dark-mode' : 'light-mode' "
    tabindex="-1"
    id="sidebarMenu"
    >

  <h4 class="fw-bold text-center d-none d-md-block">Dashboard</h4>

  <!-- Navigation Links -->
  <ul class="nav nav-pills flex-column mb-auto mt-4 gap-2 custom-sidebar">
    <li>
      <a class="nav-link d-flex align-items-center gap-2"
        routerLink="/home"
        routerLinkActive="active">
        <i class="bi bi-house-door"></i> Home
      </a>
    </li>
    <li>
      <a class="nav-link d-flex align-items-center gap-2"
        routerLink="/users"
        routerLinkActive="active">
        <i class="bi bi-people"></i> Users
      </a>
    </li>
    <li>
      <a class="nav-link d-flex align-items-center gap-2"
        routerLink="/listings"
        routerLinkActive="active">
        <i class="bi bi-megaphone"></i> Listings
      </a>
    </li>
    <li>
      <a class="nav-link d-flex align-items-center gap-2"
        routerLink="/newlistings"
        routerLinkActive="active">
        <i class="bi bi-plus-square"></i> New Listings
      </a>
    </li>
    <li>
      <a class="nav-link d-flex align-items-center gap-2"
        routerLink="/bookings"
        routerLinkActive="active">
        <i class="bi bi-calendar-check"></i> Bookings
      </a>
    </li>
    <li>
      <a class="nav-link d-flex align-items-center gap-2"
        routerLink="/amenities"
        routerLinkActive="active">
        <i class="bi bi-building"></i> Amenities
      </a>
    </li>
    <li>
      <a class="nav-link d-flex align-items-center gap-2"
        routerLink="/categories"
        routerLinkActive="active">
        <i class="bi bi-grid"></i> Categories
      </a>
    </li>

    <!-- Theme Toggle Button -->
    <li class="mt-5">
      <button class="btn w-100 mode-btn"
              [ngClass]="isDarkMode ? 'btn-outline-light' : 'btn-outline-dark'"
              (click)="toggleTheme()">
        {{ isDarkMode ? '☀️ Light Mode' : '🌙 Dark Mode' }}
      </button>
    </li>
  </ul>
</div>

