nav.bg-nav {
  border-bottom: 1px solid #000;
}

/* Header ثابت فوق */
nav {
  height: 60px; /* عدّل حسب ارتفاع الهيدر */
  z-index: 1050;
}

.light-mode {
  background-color: #f3f4f6;
  color: #212529;
}
.dark-mode {
  background-color: #323030;
  color: #fff;
}
