<div class="d-flex flex-wrap">
  <!-- Sidebar -->
  <div class="col-12 col-md-2 text-white p-3 d-none d-md-block text-center"
       style="min-height: 100vh; border-right: 1px solid rgb(61, 4, 114);">

  </div>

  <!-- Main Content -->
  <div class="col-12 col-md-10 p-4">
  <h2>Edit User</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <!-- User Name -->
    <div class="mb-3">
      <label class="form-label">User Name</label>
      <input type="text" class="form-control" formControlName="userName">
    </div>

    <!-- Email -->
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>

    <!-- Profile Pic -->
    <div class="mb-3">
      <label class="form-label">Profile Picture URL</label>
      <input type="text" class="form-control" formControlName="profilePic">
    </div>

    <!-- Role -->
    <div class="mb-3">
      <label class="form-label">Role</label>
      <select class="form-control" formControlName="role">
        <option value="guest">Guest</option>
        <option value="host">Host</option>
        <option value="admin">Admin</option>
      </select>
    </div>

    <!-- Verified -->
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" formControlName="isVerified">
      <label class="form-check-label">Verified</label>
    </div>

    <hr>

    <!-- Created At -->
    <div class="mb-3">
      <label class="form-label">Created At</label>
      <input type="date" class="form-control" [value]="createdAt" readonly>
    </div>

    <!-- Updated At -->
    <div class="mb-3">
      <label class="form-label">Updated At</label>
      <input type="date" class="form-control" [value]="updatedAt" readonly>
    </div>

    <!-- Password Changed At -->
    <div class="mb-3">
      <label class="form-label">Password Changed At</label>
      <input type="date" class="form-control" [value]="passwordChangedAt" readonly>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Update User</button>
  </form>
</div>
