<div class="d-flex">
  <!-- Sidebar -->
  <div class="col-12 col-md-2 text-white p-3 d-none d-md-block text-center"
       style="min-height: 100vh; border-right: 1px solid rgb(61, 4, 114);">
  </div>

  <!-- Main Content -->
  <div class="col-12 col-md-10 p-4">
    <div class="row justify-content-between align-items-center mb-3">
      <h3 class="col-md-6">Add New User</h3>
      <div class="col-md-2 text-end">
        <button class="btn btn-primary w-100" [routerLink]="['/users']">Back</button>
      </div>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="addUser()" class="p-4 rounded-3 border border-primary">

      <!-- User Name -->
      <div class="mb-3">
        <label class="form-label">User Name</label>
        <input type="text" class="form-control" formControlName="userName">
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email">
      </div>

      <!-- password -->
       <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password">
      </div>

      <!-- Profile Picture -->
      <div class="mb-3">
        <label class="form-label">Profile Picture URL</label>
        <input type="text" class="form-control" formControlName="profilePic">
      </div>

      <!-- Role -->
      <div class="mb-3">
        <label class="form-label">Role</label>
        <select class="form-select" formControlName="role">
          <option value="host">Host</option>
          <option value="guest">Guest</option>
        </select>
      </div>

      <!-- Verified -->
      <div class="mb-3">
        <label class="form-label">Verified</label>
        <select class="form-select" formControlName="isVerified">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
      </div>

      <!-- Created At -->
      <div class="mb-3">
        <label class="form-label">Created At</label>
        <input type="date" class="form-control" formControlName="createdAt">
      </div>

      <!-- Updated At -->
      <div class="mb-3">
        <label class="form-label">Updated At</label>
        <input type="date" class="form-control" formControlName="updatedAt">
      </div>

      <!-- Password Changed At -->
      <div class="mb-3">
        <label class="form-label">Password Changed At</label>
        <input type="date" class="form-control" formControlName="passwordChangedAt">
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">💾 Add User</button>
      </div>
    </form>
  </div>
</div>
