<div class="d-flex flex-wrap">
  <!-- Sidebar -->
  <div class="col-12 col-md-2 text-white p-3 d-none d-md-block text-center"
       style="min-height: 100vh; border-right: 1px solid rgb(61, 4, 114);">
  </div>

  <!-- Main Content -->
  <div class="col-12 col-md-10 p-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3>Users List</h3>
      <!-- زر Add User -->
      <button class="btn btn-success" [routerLink]="['/users/add']">
        ➕ Add User
      </button>
    </div>

    <!-- Search  -->
    <div class="d-flex justify-content-between align-items-center mb-2">
      <!-- Search Input -->
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search by Email..."
               [(ngModel)]="searchEmail" (keyup.enter)="searchByEmail()">
        <button class="btn btn-outline-secondary" (click)="searchByEmail()">Search 🔍</button>
      </div>
    </div>
<div class="table-responsive">
 
    <table class="table table-bordered table-hover table-sm align-middle text-center"
    *ngIf="users.length > 0" [ngClass]="isDarkMode ? 'bg-black text-light' : 'bg-light text-dark'">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Verified</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of paginatedUsers; index as i">
          <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <span [class.text-success]="user.isVerified" [class.text-danger]="!user.isVerified">
              {{ user.isVerified ? 'Yes' : 'No' }}
            </span>
          </td>
          <td>{{ user.createdAt | date: 'short' }}</td>
          <td>{{ user.updatedAt | date: 'short' }}</td>
          <td>
            <button class="btn btn-primary btn-sm me-1" (click)="editUser(user._id!)">
              ✏️ Edit
            </button>
            
            <button class="btn btn-danger btn-sm" (click)="deleteUser(user._id!)">
              🗑️ Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

    <!-- Pagination Controls -->
    <div class="d-flex justify-content-center mt-2 ">
      <button class="btn btn-secondary mr-3" [disabled]="currentPage === 1" (click)="prevPage()">
        ←   Prev
      </button>
      <!-- Page Info -->
      <div class="m-3">
        Page {{currentPage}} of {{ totalPages }}
      </div>
      <button class="btn btn-secondary" [disabled]="currentPage === totalPages" (click)="nextPage()">
        Next   →
      </button>
    </div>
  </div>
</div>
